* {
    font-family: Helvetica, sans-serif;
}

body {
    background: #F5F5F5;
    max-width: 100%;
    align-content: center;
    font-family: Lato, sans-serif;
}

.grid {
    display: grid;
    grid-template: repeat (3, 1fr) / repeat(8, 1fr);
    grid-gap: 10px;
    font-family: Lato;
    align-items: stretch;
    align-content: center;
}

.navbar, main, footer {
    display: grid;
}

main {
    grid-column: 1 / span 8;
    /* grid-area: auto; */
}

h1 {
    font-size: 50;
    font-weight: bold;
    text-align: center;
    size: 50;
}

/* The following code formats the navigation bar */
.navbar {
    grid-column: 1 / span 8;
    background-color: #991111;
    color: white;
    text-align: center;
    /* align-content: right; */
}

ul, li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none
}

.nav_TCBC_logo {
    grid-column: 1 / span 3;
    margin-right: 60%;
}

.nav_link {
    grid-column: 4 / span 1;
    align-items: right;
    margin: 0 20px;
}

a {
    text-decoration: none;
    font-family: Lato, sans-serif;
}

a:any-link {
    color: white;
    font-weight: bold;
}

footer {
    grid-column: span 8;
    grid-row: 3;
    background-color: #991111;
    color: white;
    
}

.footer_column {
    /* display: inline-block; */
    float: left;
    grid-column: span 2;
    font-size: 14;
    margin: 0 20px;
    text-align: center;
    vertical-align: center;
}

.copy {
    grid-column: 1 / span 2;
}

.address {
    grid-column: 3 / span 2;
}

.info {
    grid-column: 5 / span 2;
}

.hours {
    grid-column: 7 / span 2;
}

#verse {
    color: #991111;
    margin: 30px 0;
}


