.services_header {
    grid-column: span 8;
    text-align: center;
}

.service_videos {
    display: block;
    margin: 0 0 10px 500px;
}

.services_body {
    display: grid;
    align-items: center;
}

.services_column {
    grid-column: span 4;
    margin: 10px;
    text-align: center;
}

.videos {
    grid-column: 1 / span 4;
}

.video_descrip {
    margin-top: 150px;
    margin-bottom: 260px;
}

.service_descrip {
    grid-column: 5 / span 4;
    text-align: left;
}