aside {
    display: block;
    background-color: #991111;
    width: auto;
    height: auto;
    max-width: fit-content;
}

/* main header information */
.about_header {
    grid-column: 1 / span 8;
    text-align: center;
    /* border-bottom: solid #991111; */
}

a {
    margin: 10px;
}

/* main body information */
.about_body {
    display: grid;
    grid-column: span 8;
}

.about_column {
    /* display: grid; */
    grid-column: span 4;
    margin: 10px;
    text-align: center;
    vertical-align: center;
}

.topic {
    grid-column-start: 1;
}

.belief {
    grid-column-start: 5;
    text-align: justify;
    margin: 20px;
}

/* main About Mission styling */
.about_mission {
    grid-column: span 6;
    text-align: center;
}

#verse {
    color: #991111;
    margin: 30px 0;
}

/* main About Staff styling */
.about_staff {
    display: grid;
    /* grid-template: repeat(4, 1fr) / repeat(2, 1fr); */
}

.staff_column {
    grid-column: span 4;
    margin: 10px;
    text-align: center;
}

img {
    border-radius: 8px;
    margin-right: 5px;
}

.pastor {
    text-align: center;
}

.names {
    grid-column: 1 / span 4;
}

.descrip {
    grid-column: 5 / span 4;
    vertical-align: middle;
    text-align: left;
}

.pastor_descrip {
    margin: 80px;
}