main {
    height: 750px;
}

.give_header {
    /* this isn't making the weird margin on the bottom */
    margin: 20px;
    margin-bottom: -400px;
    grid-column: 1 / span 8;
    text-align: center;
}

#subtitle {
    text-align: center;
    grid-column: 1 / span 8;
}

.column_give {
    display: grid;
    grid-column: span 8;
    font-size: 30;
    margin: 0 0 0 40px;
    text-align: center;
    vertical-align: bottom;
}

.options {
    grid-column: 1 / span 4;
}

.locations {
    grid-column: 5 / span 4;
}

#give {
    text-decoration: none;
    color: black;
}