main {
    display: grid;
}

.ministry_header {
    /* display: grid; */
    grid-column: 1 / span 8;
    text-align: center;
}

aside {
    display: list-item;
    text-align: center;
    grid-column: span 8;
}

.ministries {
    float: left;
    clear: left;
    margin: 10px;
}

#ministry_link {
    color: black;
    padding: 10px;
}

.ministry_body {
    text-align: center;
    vertical-align: center;
}

/* Cross Impact Ministry styling */
.cross_impact_body {
    vertical-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
}

/* ROOTED Teens styling */

